body {
background-color: #F6F6F5
}

img {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
a:hover {
	color: #161616;
}

.number {
	width: 151px;
	height: 23px;
	color: #B8926B;
}

.col-md-auto {
	margin: 0;
	padding: 0;
}

.logo {
	padding-top: 24px;
	padding-right: 188px;
	cursor: pointer;
}

.menu-wrapper {
padding-left: 135px;
}

.menu {
	padding-top: 52px;
	padding-right: 48px;
	margin: 0;
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	color: #161616;
	transition: text-decoration 0s ease 0s;
	cursor: pointer;
}

.menu:last-child{
	padding-left: calc(119px - 48px);

}

.menu:hover:not(.menu-number) {

	text-decoration: overline #B8926B;	
}



.menu-buket{

}


.menu-otzyv{

}


.menu-dostavka{

}


.menu-kontakty{

}

.call-img {
	padding-right: 16px;
}

.main {

}

.main-section {

}

.main-section-image {
	z-index: 1;
	position: absolute;
	display: block;
	padding-top: 34px;
}


.main-section-title {
	display: block;
	z-index: 2;
	padding-left: 91px;
	margin-top: 121px;
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 59px;
	line-height: 66px;
	color: #161616;
}

.main-section-description {
	display: block;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 34px;
	padding-left: 91px;
	padding-top: 31px;
}

.main-section-button {
	width: 210px;
	height: 59px;
	background-color: #69766D;
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 56px;
	color: #F6F6F5;
	text-align: center;
	margin-left: 91px;
	margin-top: 64px;
	transition: 0.2s ease-out;
}

.main-section-button:hover {
	cursor: pointer;
	background-color: #69745d;
}

.main-photo {
	margin-left: 44px;
}


.main-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 37px;
}

.main-links--item {
	margin-top: 20px;
	opacity: 0.5;
}

.main-links--item:hover {
	opacity: 1;
	cursor: pointer;
	filter: brightness(50%);
}

.subtitle {
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 45px;
	color: #161616;
	display: block;
	margin-top: 90px;
	margin-right: 65px;
}

.fivesteps-images {
	margin-top: 64px;
}

.fivesteps-image {
	margin: 23px 13px 0px 10px;
}

.fivesteps-line{
	margin-top: 75px;
}

.fivesteps-text {
	padding-top: 58px;
}

.fivesteps-text-item {
	
}

.fivesteps-text-item--title {
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 20px;
	color: #161616;
	margin: 0 75px 0 70px;
}

.fivesteps-text-item--description {
	display: block;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #161616;
	margin-top: 24px;
	margin-left: 70px;
	margin-bottom: 100px;
}

.popup {
	visibility: hidden;
	display: flex;
	position: absolute;
	width: 746px;
	height: 518px;
	top: 281px;
	margin-left: 76px;
	background-color: #F6F6F5;
	z-index: 6;
	border-radius: 2px;
}

.close-button-wrapper {
	height: 20px;
	width: 20px;
	margin-left: 706px;
	margin-top: 20px;
}

.close-button:hover {
	filter: drop-shadow(16px 16px 20px #161616) invert(100%);
	cursor: pointer;
}

.popup-brightness {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
	background-color: #111;
	opacity: 0.5;
	z-index: 5;
}

.popup-logo-wrapper {
	position: absolute;
	margin-top: 39px;
	margin-left: 176px;
}


.popup-title {
	display: block;
	position: absolute;
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	line-height: 47px;
	color: #161616;
	margin-top: 64px;
	margin-left: 218px;


}

.form-description--name {
	position: absolute;
	margin-top: 159px;
	margin-left: 113px ;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}

.form-description--number {
	position: absolute;
	margin-top: 264px;
	margin-left: 113px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
}

.input {
	border: 2px solid #D8BFA9;
 	box-shadow: none;
}

.input-name {
	position: absolute;
	margin-top: 192px;
	margin-left: 113px;
	width: 521px;
	height: 40px;
}

.input-number {
	position: absolute;
	margin-top: 297px;
	margin-left: 113px;
	width: 521px;
	height: 40px;
}



.form-description--gray {
	position: absolute;
	margin-top: 347px;
	margin-left: 113px;
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #69766D;
}

.popup-send-button {
	
	align-items: center;
	position: absolute;
	width: 227px;
	height: 59px;
	margin-top: 395px;
	margin-left: 260px;
	background-color: #69766D;
	border-radius: 2px;

}

.popup-send-button:hover {
	cursor: pointer;
	background-color: #69745d;
}


.popup-send-button--text {
	display: block;
	font-family: 'EB Garamond', serif;
	font-style: normal;
	font-weight: 200;
	font-size: 20px;
	line-height: 22px;
	color: #F6F6F5;
	margin: 18px 41px;
}